<p id="notice"><%= notice %></p>

<h1>Listing Search Caches</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_caches.each do |search_cach| %>
      <tr>
        <td><%= search_cach.query %></td>
        <td><%= search_cach.response %></td>
        <td><%= link_to 'Show', search_cach %></td>
        <td><%= link_to 'Edit', edit_search_cach_path(search_cach) %></td>
        <td><%= link_to 'Destroy', search_cach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search cache', new_search_cach_path %>
