<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @search_cach.query %>
</p>

<p>
  <strong>Response:</strong>
  <%= @search_cach.response %>
</p>

<%= link_to 'Edit', edit_search_cach_path(@search_cach) %> |
<%= link_to 'Back', search_caches_path %>
