<!DOCTYPE html>
<html>
<head>
  <title>ProductSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li><a href="/">Search</a></li>

      <% if current_user.try(:admin?) %>
        <li><a href="/admin">Admin</a></li>
      <% else %>
        <li><a href="/users/sign_in">Signin</a></li>
      <% end %>
    </ul>
  </nav>

  <%= render 'layouts/flash_messages' %>

  <%= yield %>

</body>
</html>
